body{
  background-color: black;
  width: 99%;
}

header{
  background-color: #5b7989;
  width: 99%;
  height: 100px auto;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  color: white;
  font-family: georgia;
  font-size: 1.2em;
  text-shadow: 0px 0px 2px #02010a;
  top: 0;
  display: inline-block;
}

#title{
  margin: 10px;
  display: inline-block;
  float: left;
}

#menuvar{
  padding: 10px;
  margin: 10px;
  float: right;
}

header li{
  display: inline-block;
}

nav a:link, nav a:visited{
  display: inline;
  text-decoration: none;
  color: white;
}

nav a:active{
  text-decoration: underline;
}

.imgppal{
  width: 99%;
  display: inline-block;
  background-color: green;

}

#imgp{
  
  transform: scale(0.5);
}

.imgsec{
  display: inline-block;
}

#imgizq{

}

#imgder{

}

footer{
  clear: both;
  background-color: #c6d5c5;
  width: 99%;
  height: 100px auto;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  bottom: 0;
  display: inline-block;
}
